.upc {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  margin: 20px;
  border-radius: 4px;
  padding-bottom: 20px;
  background: white;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gradiant {
  background-image: linear-gradient(to bottom, #1f3f66, #555b63);
  height: 125px;
  border-radius: 4px 4px 0px 0px;
}

.profile-down {
  padding: 20px;
  position: relative;
}

.add-photo-container {
  position: absolute;
  top: 50px;
  left: 170px;
  width: 35px;
  height: 35px;
  background: #f4f1f1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.add-photo-icon {
  color: #1f3f66;
  font-size: 22px;
  cursor: pointer;
}

.profile-down img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-top: -75px;
  padding: 5px;
  background: white;
}

.profile-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.profile-button {
  margin-top: 15px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add some gap between buttons */
}

.profile-button a {
  text-decoration: none;
  background-color: #1f3f66;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
